<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>servelts.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionesGerente</servlet-name>
        <servlet-class>servelts.FuncionesGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesGerente</servlet-name>
        <servlet-class>servelts.ReportesGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte1G</servlet-name>
        <servlet-class>exportaciones.Reporte1G</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte4G</servlet-name>
        <servlet-class>exportaciones.Reporte4G</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionesCajero</servlet-name>
        <servlet-class>servelts.FuncionesCajero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesCajero</servlet-name>
        <servlet-class>servelts.ReportesCajero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionesCliente</servlet-name>
        <servlet-class>servelts.FuncionesCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionesGerente</servlet-name>
        <url-pattern>/FuncionesGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesGerente</servlet-name>
        <url-pattern>/ReportesGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte1G</servlet-name>
        <url-pattern>/Reporte1G</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte4G</servlet-name>
        <url-pattern>/Reporte4G</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionesCajero</servlet-name>
        <url-pattern>/FuncionesCajero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesCajero</servlet-name>
        <url-pattern>/ReportesCajero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionesCliente</servlet-name>
        <url-pattern>/FuncionesCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
